body {
  width: auto;
  height: 600px;
  margin: auto;
}
header {
  border: 1px solid black;
  height: 100px;
  margin-left: 10px;
}

header img {
  height: 80px;
  width: 200px;
  float: left;
  margin: 0px;
  padding: 10px;
}

header h1 {
  font-size: 50px;
  padding: 10px;
  margin-top: 15px;
}
main {
  overflow: auto;
  width: 1800px;
}

img {
  width: 300px;
  height: 300px;
  padding: 15px;
  margin: 10px;
  display: block;
  float: right;
  border: 1px solid black;
}

p {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 950px;
  margin-bottom: 130px;
}

#container {
  margin-top: 50px;
 
  margin-right: 250px;
}

ul {
  height: 450px;
  border: 1px solid red;
  list-style-type: inside;
  margin-left: 10px;
  padding: 10px;
}

li {
  list-style-position: inside;
  list-style-type: disc;
  margin-left: 10px;
}


h3 {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
